# Ignore some static files and directories.
/.github
/.gitattributes
/.htaccess
/config.php
/favicon.ico
/index.php
/LICENSE.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/robots.php
/robots.txt
/web.config
/src/admin/
/src/assets/
/src/data/
/src/includes/
/src/install/
/src/uploads/
/src/vendor
/src/composer.json
/src/modules/*
/src/themes/*

# Ignore fix module files and directories.
!/src/modules/blog

!/src/themes/default
/src/themes/default/*
!/src/themes/default/css
!/src/themes/default/js
!/src/themes/default/images
!/src/themes/default/modules
/src/themes/default/css/*
/src/themes/default/js/*
/src/themes/default/images/*
/src/themes/default/modules/*
!/src/themes/default/css/blog.css
!/src/themes/default/js/blog.js
!/src/themes/default/images/blog
!/src/themes/default/modules/blog

!/src/themes/admin_default
/src/themes/admin_default/*
!/src/themes/admin_default/css
!/src/themes/admin_default/js
!/src/themes/admin_default/images
!/src/themes/admin_default/modules
/src/themes/admin_default/css/*
/src/themes/admin_default/js/*
/src/themes/admin_default/images/*
/src/themes/admin_default/modules/*
!/src/themes/admin_default/css/blog.css
!/src/themes/admin_default/css/blog.css.map
!/src/themes/admin_default/css/blog.rtl.css
!/src/themes/admin_default/css/blog.rtl.css.map
!/src/themes/admin_default/js/blog.js
!/src/themes/admin_default/images/blog
!/src/themes/admin_default/modules/blog

!/src/themes/admin_future
/src/themes/admin_future/*
!/src/themes/admin_future/css
!/src/themes/admin_future/js
!/src/themes/admin_future/images
!/src/themes/admin_future/modules
/src/themes/admin_future/css/*
/src/themes/admin_future/js/*
/src/themes/admin_future/images/*
/src/themes/admin_future/modules/*
!/src/themes/admin_future/css/blog.css
!/src/themes/admin_future/css/blog.css.map
!/src/themes/admin_future/css/blog.rtl.css
!/src/themes/admin_future/css/blog.rtl.css.map
!/src/themes/admin_future/js/blog.js
!/src/themes/admin_future/images/blog
!/src/themes/admin_future/modules/blog

/scss

/error.php
/.buildpath
/.project
/.settings
/.env
/.env.example
/TODO.txt
/codeception.dist.yml
/build/postcss.config.mjs
/scripts
/composer.json
/package.json
/src/.htaccess
/src/api.php
/src/config.php
/src/error.php
/src/favicon.ico
/src/index.php
/src/mload.php
/src/robots.php
/src/robots.txt
/src/sload.php
/src/web.config
/tests
/tools
/node_modules
/package-lock.json
