/**
 * Color
 */
/* BORDER */
.bl-block-tags-list a {
    border-color: #dddddd;
}

/* BORDER HOVER */
.bl-block-tags-list a:hover {
    border-color: #428bca;
}

/* COLOR GRAY */
.bl-block-tags-list a,
.bl-newsletters button,
.bl-tags-list-count {
    color: #695d69;
}

/* COLOR HOVER */
.bl-block-tags-list a:hover {
    color: #428bca;
}

/**
 * Global
 */
.margin-bottom {
    margin-bottom: 10px;
}
.bl-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 100%;
}

.highlighter{
    padding: 2px 6px;
    margin: 0 6px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    background: #FD7F67;
    vertical-align: baseline;
}
.highlight{
    color: #fff;
    background: #FD7F67;
}

/**
 * Heading
 */
h1, h2, h3, h4, h5, h6{
}
h1.upper, h2.upper, h3.upper, h4.upper, h5.upper, h6.upper{
    text-transform: uppercase;
}
.post-detail h1{
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
}
.text-right{
    text-align: right;
}

/**
 * List blog type
 */
.post-list .post-title {
    margin: 10px 0;
    font-size: 16px;
    line-height: 24px;
    text-transform:uppercase;
}
.post-list .post-title i{
    color:#000;
}
.post-list .post-item{
    border-bottom: 1px solid #BDBDBD;
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.75);
    box-shadow: 0 1px rgba(255, 255, 255, 0.75);
    padding-bottom:20px;
    margin-bottom:20px;
}
.post-list .post-item .media-image{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.post-list .post-item .media-iframe{
    padding:0;
    margin:0;
    border:0;
    width:100%;
    margin-bottom: 10px;
}
.post-list .meta{
    float:left;
}
.post-list .meta span{
    margin-right: 20px;
}
.post-list .post-item-html{
    margin-bottom: 20px;
}
.post-list .post-item-html img{
    max-width: 100%!important;
}

/**
 * News type
 */
.news-list .news-title {
    margin: 10px 0;
    font-size: 16px;
    line-height: 24px;
    text-transform:uppercase;
}
.news-list .news-title i{
    color:#000;
}
.news-list .news-item{
    border-bottom: 1px solid #BDBDBD;
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.75);
    box-shadow: 0 1px rgba(255, 255, 255, 0.75);
    padding-bottom:20px;
    margin-bottom:20px;
}
.news-list .news-item .news-image{
    float: left;
    width: 220px;
    margin-right: 20px;
}
.news-list .news-item .news-image a{
    width: 220px;
    max-height: 155px;
    overflow: hidden;
    display: block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.news-list .news-item .news-image a img{
    width: 220px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.news-list .news-item .news-content{
    padding-left: 240px;
}
.news-list .meta{
    float:left;
}
.news-list .meta span{
    margin-right: 20px;
}

/**
 * Generate page
 */
ul.pagination.bl-pagination {
    display: block;
}
ul.pagination.bl-pagination li.pages {
    float: right;
}
ul.pagination.bl-pagination li.pages span {
    border-radius: 0;
    border-color: transparent;
    color: inherit;
    background-color: transparent;
    padding-right: 0;
    margin-right: 0;
}
ul.pagination.bl-pagination li.pages span:hover {
    background-color: transparent;
}
ul.pagination.bl-pagination li:nth-last-child(2) a,
ul.pagination.bl-pagination li:nth-last-child(2) span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

/**
 * Tags list
 */
.bl-tags-list-row {
    padding: 3px 0;
}
.bl-tags-list-count {
    float: right;
    width: 35px;
    margin-left: 5px;
}

/*
 * Detail blog
 */
.post-detail-media-data{
    padding-bottom: 20px;
}
.post-detail-media-data .media-image{
    width: 100%;
}
.post-detail-media-data .media-iframe{
    padding:0;
    margin:0;
    border:0;
    width:100%;
}
.post-detail-content{
    text-align: justify;
    margin-bottom: 30px;
}
.post-detail-content {
    overflow-x: hidden;
}
.post-detail-content img{
    padding: 0!important;
}
.post-detail-content figure.image {
    margin: 10px 0;
    padding: 0;
    float: none;
}
.post-detail-content figure.image figcaption {
    margin-top: 10px;
}
.post-detail-tags{
    margin-bottom: 30px;
}
.post-detail-tags a{
    display: inline-block;
    margin-left: 5px;
}
.post-detail-tags a:after{
    display: inline-block;
    content: ",";
}
.post-detail-tags a:last-child:after{
    display: none;
}
.post-detail-meta{
    float:left;
}
.post-detail-meta span{
    margin-right: 5px;
}
.post-detail-next-post{
    float: right;
    width: 45%;
    text-align: justify;
    font-weight: bold;
    text-transform: uppercase;
}
.post-detail-next-post i{
    float: right;
    margin-left: 10px;
}
.post-detail-prev-post{
    float: left;
    width: 45%;
    text-align: justify;
    font-weight: bold;
    text-transform: uppercase;
}
.post-detail-prev-post i{
    float: left;
    margin-right: 10px;
}
.post-detail-share{
    margin-bottom: 10px;
    text-align: right;
}

/*
 * Block tags
 */
.bl-block-tags-list a {
    border-width: 1px;
    border-style: solid;
    font-size: 11px;
    padding: 4px 10px;
    margin: 0 0px 4px 0;
    display: inline-block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    white-space: nowrap;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.bl-block-tags-list a:hover {
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.bl-block-tags-list a i {
    margin-right: 4px;
}
.bl-block-tags-list a:hover i {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

/**
 * Newsletters
 */
.bl-newsletters button {
    position: absolute;
    line-height: 20px;
    padding: 0;
    margin: -10px 0 0 0;
    top: 50%;
    right: 10px;
    background: transparent;
    border: 0;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline:0;
}
.bl-newsletters form {
    position:relative;
}

/* Block menu */
.bl-bllist-menu>li,
.bl-bllist-menu ul li,
.panel-body .bl-bllist-menu>li,
.panel-body .bl-bllist-menu ul li {
    margin-bottom: 0;
}

.bl-bllist-menu li {
    padding: 4px 0;
}

.bl-bllist-menu ul li:last-child {
    padding-bottom: 0;
}

.bl-bllist-menu .bl-stat {
    margin-left: 4px;
    display: inline-block;
    font-weight: 700;
}

.bl-bllist-menu ul {
    margin-left: 20px;
}

