/**
 * Global
 */
ul.list-menu{
	margin: 0;
	padding: 0;
}
.ms4-clear{
	clear: both;
}

.clearfix:before, .clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear:both;
}
hr{
	border-top: 1px #BDBDBD solid;
	border-bottom: 1px #fff solid;
	border-right: none;
	border-left: none;
	margin: 20px 0;
}
.highlighter{
	padding: 2px 6px;
	margin: 0 6px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	background: #FD7F67;
	vertical-align: baseline;
}
.highlight{
	color: #fff;
	background: #FD7F67;
}

/**
 * Heading
 */
h1, h2, h3, h4, h5, h6{
}
h1.upper, h2.upper, h3.upper, h4.upper, h5.upper, h6.upper{
	text-transform: uppercase;
}
.post-detail h1{
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 18px;
	line-height: 26px;
}
.text-right{
	text-align: right;
}

/**
 * List blog type
 */
.post-list .post-title {
	margin: 10px 0;
	font-size: 16px;
	line-height: 24px;
	text-transform:uppercase;
}
.post-list .post-title i{
	color:#000;
}
.post-list .post-item{
	border-bottom: 1px solid #BDBDBD;
	-webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.75);
	box-shadow: 0 1px rgba(255, 255, 255, 0.75);
	padding-bottom:20px;
	margin-bottom:20px;
}
.post-list .post-item .media-image{
	width: 100%;
}
.post-list .post-item .media-iframe{
	padding:0;
	margin:0;
	border:0;
	width:100%;
}
.post-list .meta{
	float:left;
}
.post-list .meta span{
	margin-right: 20px;
}
.post-list .readmore{
	float:right;
}
.post-list .post-item-html{
	margin-bottom: 20px;
}
.post-list .post-item-html img{
	max-width: 100%!important;
}

/**
 * News type
 */
.news-list .news-title {
	margin: 10px 0;
	font-size: 16px;
	line-height: 24px;
	text-transform:uppercase;
}
.news-list .news-title i{
	color:#000;
}
.news-list .news-item{
	border-bottom: 1px solid #BDBDBD;
	-webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.75);
	box-shadow: 0 1px rgba(255, 255, 255, 0.75);
	padding-bottom:20px;
	margin-bottom:20px;
}
.news-list .news-item .news-image{
	float: left;
	width: 220px;
	margin-right: 20px;
}
.news-list .news-item .news-image a{
	width: 220px;
	max-height: 155px;
	overflow: hidden;
	display: block;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.news-list .news-item .news-image a img{
	width: 220px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.news-list .news-item .news-content{
	padding-left: 240px;
}
.news-list .meta{
	float:left;
}
.news-list .meta span{
	margin-right: 20px;
}
.news-list .readmore{
	float:right;
}

/**
 * Button, form
 */
.tbutton {
	font-family: Tahoma, Helvetica;
	display: inline-block;
	cursor: pointer;
	position: relative;
	background: #ff0078;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	white-space: nowrap;
	text-transform: uppercase;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.1);
	background-image: linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgba(0,0,0,0.08)),color-stop(0.5, rgba(128,128,128,0.08)),color-stop(1, rgba(255,255,255,0.08)));
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-weight:bold;
}
.tbutton:hover{
	color:#fff;
	background: #8e0545;
}
.tbutton.small span {
	padding: 0 14px;
	line-height: 2em;
}
.tbutton span {
	padding: 0 10px;
	line-height: 2.4em;
	color: #fff;
}

/**
 * Generate page
 */
.pagination-tt ul {
	float: left;
	padding:0;
	margin:0;
	list-style:none;
}
.pagination-tt .pages {
	float: right;
	padding: 3px 12px;
}
.pagination-tt li {
	display: inline-block;
	margin: 0;
}
.pagination-tt li a{
	margin-right: 10px;
}
.pagination-tt li:last-child a{
	margin-right: 0;
}
.pagination-tt .deactive {
	padding: 0 10px;
	line-height: 2.4em;
}

/* 
 * Notification boxes
 */
.notification-box {
	position: relative;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px 32px 20px 20px;
	color:#fff;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}
.notif-anim {
	-webkit-animation: lightSpeedInLeft 1.3s 1;
	-moz-animation: lightSpeedInLeft 1.3s 1;
	-ms-animation: lightSpeedInLeft 1.3s 1;
	-o-animation: lightSpeedInLeft 1.3s 1;
	animation: lightSpeedInLeft 1.3s 1;
}
a.notification-close {
	position: absolute;
	right: 20px;
	top: 20px;
	color: #FFF;
	font-size: 12px;
}
.notification-box p {
	margin: 0;	
}
.notification-box p i {
	padding-right: 10px;
	border-right: 1px solid #fff;
	margin-right: 10px;
}
.notification-box i{
	color:#fff;
}
.notification-box-info {
	background-color: #65cad3;
}
.notification-box-success {
	background-color: #1abc9c;
}
.notification-box-warning {
	background-color: #eed880;
}
.notification-box-error {
	background-color: #e06f6f;
}

/* 
 * Detail blog
 */
.post-detail-media-data{
	padding-bottom: 20px;
}
.post-detail-media-data .media-image{
	width: 100%;
}
.post-detail-media-data .media-iframe{
	padding:0;
	margin:0;
	border:0;
	width:100%;
}
.post-detail-content{
	text-align: justify;
	margin-bottom: 30px;
}
.post-detail-content img{
	max-width: 100%!important;
	margin: 2px 0!important;
	padding: 0!important;
}
.post-detail-tags{
	margin-bottom: 30px;
}
.post-detail-tags a{
	display: inline-block;
	margin-left: 5px;
}
.post-detail-tags a:after{
	display: inline-block;
	content: ",";
}
.post-detail-tags a:last-child:after{
	display: none;
}
.post-detail-meta{
	float:left;
}
.post-detail-meta span{
	margin-right: 5px;
}
.post-detail-next-post{
	float: right;
	width: 45%;
	text-align: justify;
	font-weight: bold;
	text-transform: uppercase;
}
.post-detail-next-post i{
	float: right;
	margin-left: 10px;
}
.post-detail-prev-post{
	float: left;
	width: 45%;
	text-align: justify;
	font-weight: bold;
	text-transform: uppercase;
}
.post-detail-prev-post i{
	float: left;
	margin-right: 10px;
}
.post-detail-share{
	margin-bottom: 10px;
	text-align: right;
}

/* 
 * List all tags
 */
.all-tags{
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
}
.all-tags li{
	float: left;
	width: 33.3333333333%;
	padding: 3px 0;
	margin: 0;
}

/* 
 * Block tags
 */
.block-tags-list a{
	border: 1px solid #A3A3A3;
	color: #A3A3A3;
	font-size: 11px;
	padding: 4px 10px;
	margin: 0 0px 4px 0;
	display: inline-block;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
.block-tags-list a:hover{
	border: 1px solid #FF0078;
	color: #FF0078;
	text-decoration: none !important;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
.block-tags-list a i{
	margin-right: 4px;
}
.block-tags-list a:hover i{
	color: #FF0078;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

/**
 * Icon pack
 */
[class^="icon-"],
[class*=" icon-"] {
	font-family: 'FontAwesome';
	color:#666;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	text-decoration: inherit;
	display: inline-block;
	speak: none;
}
[class^="icon-"].mi,
[class*=" icon-"].mi{
	margin-right:5px;
}
.action [class^="icon-"],
.action [class*=" icon-"]{
	font-family: inherit
}
.action [class^="icon-"]:before,
.action [class*=" icon-"]:before {
	display: none;
}

.icon-ok:before {
  content: "\f00c";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-play:before {
	content: "\f04b";
}
.icon-user:before {
	content: "\f007";
}
.icon-time:before {
	content: "\f017";
}
.icon-comments-alt:before {
	content: "\f0e6";
}
.icon-sitemanager:before{
	content: "\f085";
}
.icon-drag:before{
	content: "\f047";
}
.icon-module:before{
	content: "\f02d";
}
.icon-users:before{
	content: "\f007";
}
.icon-logout:before{
	content: "\f08b";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-remove-sign:before {
	content: "\f057";
}
.icon-warning-sign:before {
	content: "\f071";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-picture:before {
	content: "\f03e";
}
.icon-film:before {
	content: "\f008";
}
.icon-music:before {
	content: "\f001";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-link:before {
	content: "\f0c1";
}
.icon-camera:before {
	content: "\f030";
}
.icon-long-arrow-left:before {
	content: "\f177";
}
.icon-long-arrow-right:before {
	content: "\f178";
}

/**
 * Newsletters
 */
#newsletters input {
	margin: 0;
	padding: 0 12px;
	line-height: 24px;
	height: 34px;
	border: 1px solid #C5C5C5;
	background: #F7F7F7;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	color: #5A5A5A;
	cursor: text;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	outline:0;
}
#newsletters button {
	position: absolute;
	top: 7px;
	right: 8px;
	background: none;
	border: 0;
	color: #DDD;
	font-size: 11px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	outline:0;
}
#newsletters form{
	position:relative;
}